@import url('https://fonts.googleapis.com/css2?family=Chokokutai&family=Rubik+Glitch&display=swap');

.item-list-container {
  padding: 2rem;
}

.item-list-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
  color: #404040;
  font-family: 'Chokokutai', sans-serif;
}

.item-list-loading {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
  
}


.item-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
@media (max-width: 1200px) {
  .item-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .item-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .item-grid {
    grid-template-columns: 1fr;
  }
}

/* Botón "Ver más" */
.item-btn {
  background-color: #0d6efd;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.item-btn:hover {
  background-color: #084298;
  cursor: pointer;
}

/* Estilo para el sidebar */
.sidebar {
  background-color: #f8f9fa; 
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.sidebar h5,
.sidebar h6 {
  font-weight: 600;
  margin-bottom: 12px;
  color: #343a40;
}

.sidebar .form-control,
.sidebar .form-select {
  border-radius: 8px;
}

.sidebar .list-group-item {
  border: none;
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
  font-weight: 500;
}

.sidebar .list-group-item:hover {
  background-color: #e9ecef;
}

.sidebar .list-group-item.active {
  background-color: #000 !important;  
  color: #fff;
  font-weight: 600;
}

