.checkout-form-container {
  max-width: 600px; /* Establece un ancho máximo más realista */
  width: 90%;       /* Asegura que ocupe todo el ancho disponible hasta el máximo */
  margin: 2rem auto;
  padding: 2rem;
  background-color: #0159b8;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%; /* Hace que el formulario use todo el ancho del contenedor */
}
  
  .checkout-form-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: whitesmoke;
  }
  
  .checkout-form label {
    font-weight: 500;
    color: #ffffff;
  }
  
  .checkout-form input {
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
  }
  
  .checkout-form button {
    padding: 0.75rem;
    background-color: whitesmoke;
    color: #043d7a;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 50px;
  }
  
  .checkout-form button:hover {
    background-color: #88888a;
    color: whitesmoke;
  }
  